<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Avisos</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>
  <!-- Incluir nav -->
  <div th:replace="includes/nav :: nav"></div>

  <!-- Incluir carrusel -->
  <div th:replace="includes/carrusel :: carrusel"></div>

  <!-- Section-->
  <section data-th-fragment="avisos" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <!-- Iterar productos -->
        <div class="col mb-5" th:each="producto : ${productos}">

          <div class="card h-100">
            <!-- Imagen del producto -->
            <img class="card-img-top" th:src="@{/images/{imagen}(imagen=${producto.imagen})}"
              th:alt="${producto.nombre}" alt="Imagen Producto" />
            <!-- Detalles del producto -->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Nombre -->
                <h5 class="fw-bolder" th:text="${producto.nombre}">Nombre Producto</h5>

                <!-- Precio -->
                <div th:if="${producto.precioLista == producto.precioFinal}">
                  <span th:text="${#numbers.formatCurrency(producto.precioFinal)}">$0.00</span>
                </div>
                <div th:if="${producto.precioLista != producto.precioFinal}">
                  <span>
                    <s th:text="${#numbers.formatCurrency(producto.precioLista)}">$0.00</s>
                  </span>
                  &nbsp;
                  <span class="text-success fw-bold"
                    th:text="${#numbers.formatCurrency(producto.precioFinal)}">$0.00</span>
                </div>

                <!-- Porcentaje de descuento -->
                <p th:if="${producto.precioLista != producto.precioFinal}" class="text-muted small">
                  Descuento aplicado:
                  <span th:text="${#numbers.formatDecimal(producto.porcentajeDescuento * 100, 0, 0)} + '%'">5%</span>
                </p>
              </div>
            </div>
            <!-- Botón agregar al carro -->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" th:href="@{/carrito/add(cant=1,sku=${producto.sku})}" href="#">
                  Agregar al Carro
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Aquí podrías poner productos estáticos u otro contenido -->
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"></script>
</body>

</html>